body{
    background-color:peachpuff;
    text-align:center;
}
table,th,td{
    border:1px solid black;
    border-collapse:collapse;
    margin:auto;
}
th,td{
    padding:3px;
}
#subm{
    background-color:green;
    color:white;
}
#subm:hover{
    background-color:white;
    color:green;
}
